<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Login Security</title>
</head>
<body>
	<form th:action="@{/login}" th:object="${userInfo}" method="post">
		<div align="center" style="margin-top:50px;">
			<div>
				<label> UserName: <input type="text"
					th:field="*{userName}" />
				</label>
			</div><br>
			<div>
				<label> Password : <input type="password"
					th:field="*{userPassword}" />
				</label>
			</div><br>
			<div>
				<span th:if="${logError != null}" style="color: red;">Wrong
					user name or password</span>
			</div>
			<div>
				<input type="submit" value="Sign In" />
			</div><br>
			
			<a th:href="@{/user_register}">User Register</a> 
		</div>
	</form>


</body>
</html>